@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 2rem;
  width: 95%;
  display: flex;
  justify-content: center;
}


header{
    height: 50px;
   
}
nav ul{
    margin:1rem;
    padding: 0;
    list-style: none;
    margin-left: 1.5rem;
}

nav li{
    float:left !important;
  
    color:rgb(243, 236, 255);
    padding: 5px 5px 5px 5px;
}
nav a{
    display: block;
    padding: 10px;
    color:pink;
    text-decoration: none;
}
nav a:hover{

    color:#ff58bf;
}

#web2 {
    font-size: 1.1rem;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #c5c5c5;
}
#web2:hover{
    color:rgb(233, 88, 113);
    font-size: 1.2rem;
}

#logo{
    margin-left:4%;
    font-size: 1.3rem;
    color:rgb(255, 96, 122);
    font-weight: 400;
}

/* ********************************************     The intro section    **********************************************  */


#intro-container{
    margin:3rem;
    display: grid;
    align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  
}

#profile_image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 3px rgb(241, 55, 241) solid;
}

#my_name {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: rgb(255, 209, 27);
  text-shadow: 0 0 4px rgb(105, 105, 105);
  font-weight: 700 !important;
  line-height: 3rem;
}
.intro-text-wrapper {
  border-left: 3px rgba(255, 255, 0, 0.457) solid;
  padding: 0.1rem 0.1rem 0.1rem 1.2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.144);
  margin-bottom: 1rem;
}

.intro-text-wrapper p {
  color: rgb(218, 218, 218);
}

#cta_button {
  background-color: rgb(255, 183, 48);
  color: rgb(52, 52, 52);
  font-size: 1.1rem;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
  border: none;
  background: linear-gradient(
    45deg,
    rgb(250, 219, 45) 0%,
    rgb(224, 45, 248) 100%
  );
  border-radius: 25px;
}

#cta_button:hover{
    background: linear-gradient(
        45deg,
        rgb(224, 45, 248) 0%,
        rgb(250, 219, 45) 100%
      );
}

/*  *********************************************   Which City Section  ********************************************  */

#which-city {
  padding: 2rem;
}

.grid-container-which-city {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 1rem;
}

#city-image {
  height: 85%;
  width: 80%;
  border: 3px rgb(241, 55, 241) solid;
}

/* ********************************************     Foreign Language section    **********************************************  */

#foreign-language{
    height:100%;
    background: linear-gradient(
        45deg,
        rgb(0, 28, 170) 0%,
        rgb(248, 45, 214) 100%
      );
}

tr{
    margin:1rem;
}

td{
    padding: 0.4rem;
    border-bottom: 1px rgba(255, 255, 255, 0.291) solid ;
   
}
td p{
    margin: 0cm;
    color:rgb(177, 177, 177);
}
table{
    /* border-radius: 8px; */
    background-color:  rgba(154, 1, 209, 0.324);
    border: 3px rgba(255, 6, 172, 0.257) solid;
    padding: 2rem;
}
#table-heading{
    background-color: rgba(0, 128, 255, 0.167) !important;
    color:#d8d4ff;
    border: none !important;
}


/*   ########################################## Historical Places Section ##########################################   */

#historic-places-section{
    background-color: rgb(218, 218, 218);
    padding-bottom: 2rem;
}

#historical-places-container{
    padding: 0 3rem 0 3rem;
}

.grid-container-historical-places{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.grid-container1{
    display:grid;
    grid-template-columns: 60% 40% !important;
    gap: 10px;
}

.grid-container2{
    display:grid;
    grid-template-columns: 40% 60% !important;
    grid-template-areas: "col1 col2";
    gap: 10px;
}

.grid-container3{
    display:grid;
    grid-template-columns: 60% 40% !important;
    gap: 10px;

}

#historic-place-image{
    width: 100%;
    border-radius: 8px;
    border: 2px rgba(216, 0, 169, 0.445) solid;
}

#historic-place-title{
    color:rgba(58, 0, 64, 0.641);
    font-size: 1.1rem;
}

#historic-place-text li {
    font-size:0.85rem;
    margin-bottom: 6px;
    color:gray;
}
#historic-place-text{
    margin-left:20px
}

/*   ########################################## Media Quaries ##########################################   */


@media screen and (max-width:450px) {
    #intro-container{
        margin: 1rem !important;
        margin-right: 3rem !important;
    }
    .container{
        padding-right: 4rem !important;
        padding-left: 0rem !important;
    }
}
@media screen and (max-width:650px) {
    #foreign-language-wrapper{
        width:97% !important;
    }
    #city-image{
        width: 100% !important;
    }
    #my_name{
        font-size: 2rem;
    }
    #my-name-wrapper{
        display: flex;
        justify-content: center;
    }
    #historical-places-container{
        padding: 0 1.5rem 0 1.5rem;
    }

 
}

@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;

  }
  #my-name-wrapper{
    margin-top: 3rem;
  }


  .grid-container-which-city {
    grid-template-columns: 1fr;
  }


  #foreign-language-wrapper{
    padding: 0rem 1rem 0rem 1rem !important;
  }
}

@media screen and (min-width: 901px) {
  #intro-section {
    align-items: start !important;
  }
  

}

@media screen and (max-width:950px) {
    .grid-container-historical-places {
        grid-template-columns: 1fr;
        margin-top: 20px;
      }
      .grid-container2{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "col2 col1";
    }
    .grid-item2-1{
        grid-area: col1;
    }
    .grid-item2-2{
        grid-area: col2;
    }
    #historic-place-image{
        width:100%;
    }
  
}
@media screen and (min-width:951px){
    .grid-container2{
        grid-template-columns: 1fr 1fr !important;
    }
    .grid-container1{
        grid-template-columns: 1fr 1fr !important;
    }

    .grid-container3{
        grid-template-columns: 1fr 1fr !important;
    }
}
